{extend name='main'}

{block name="button"}

{if auth("add")}
<button data-modal='{:url("add")}' data-title="添加章节" class='layui-btn layui-btn-sm layui-btn-primary'>添加章节</button>
{/if}
{/block}

{block name="content"}
<div class="think-box-shadow">
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <input data-auto-none data-check-target='.list-check-box' type='checkbox'>
            </th>
            <th class='text-left nowrap'>章节名称</th>
            <th class='text-left nowrap'>难度等级</th>
            <th class='text-left nowrap'>题数</th>
            <th class='text-left nowrap'>排序</th>
            <th class='text-left nowrap'>创建时间</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr data-dbclick>
            <td class='list-table-check-td think-checkbox'>
                <input class="list-check-box" value='{$vo.id}' type='checkbox'>
            </td>
            <td class='text-left nowrap'>
                {$vo.spl}{$vo.name|default='-'}
            </td>
            <td class='text-left nowrap'>
                {$star[$vo.star]|default='-'}
            </td>
            <td class='text-left nowrap'>
                {$vo.sub_num|default='-'}
            </td>
            <td class='text-left nowrap'>
                {$sort|default='-'}
            </td>
            <td class='text-left nowrap'>
                {$vo.create_at|format_datetime}
            </td>
            <td class='text-left nowrap'>
                {if auth("edit")}
                <a class="layui-btn layui-btn-sm" data-title="编辑章节" data-modal='{:url("edit")}?id={$vo.id}'>编 辑</a>
                {/if}

                {if auth("remove")}
                {if $vo.pid == 0}
                <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要删除该章节吗？" data-action="{:url('remove')}" data-value="id#{$vo.id}" data-csrf="{:systoken('remove')}">删 除</a>
                {else}
                <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="当前操作会删除该章节下的所有子章节，确定要删除该章节吗？" data-action="{:url('remove')}" data-value="id#{$vo.id}" data-csrf="{:systoken('remove')}">删 除</a>
                {/if}
                {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
        {/notempty}
    </table>

    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>

{/block}
